body {
	background-color: black;
}

img {
	position: fixed;
	top: 50px;
	left: 30px;
}

h3 {
	position: relative;
	color: white;
	top: 50px;
	left: 800px;
}

h4 {
	position: relative;
	color: white;
	top: 150px;
	left: 800px;
}

p {
	font-family: relative;
	color: white;
	position: fixed;
	top: 150px;
	left: 810px;
}